/Repository/nbproject/private/
/Repository/build/
/multiplvcation/nbproject/private/
/multiplication/nbproject/private/
/m/nbproject/private/
/multiply/nbproject/private/
/multiply/build/
/multiplvcation/build/
/oddmultiply/nbproject/private/
/oddmultiply/build/
/calculator/nbproject/private/
/calculator/build/
/marksheet/nbproject/private/
/marksheet/build/